# Rediriger les requêtes de fichiers statiques vers public/
RewriteEngine On

# CSS
RewriteRule ^css/(.*)$ public/css/$1 [L]

# JS
RewriteRule ^js/(.*)$ public/js/$1 [L]

# Images
RewriteRule ^images/(.*)$ public/images/$1 [L]

# Autres fichiers de public
RewriteRule ^(js|css|images|favicon\.ico)\/?.*$ - [L]

# Tout le reste vers index.php dans public
RewriteRule ^(.*)$ public/index.php [L,QSA]