RewriteEngine On

# Redirection spécifique pour les fichiers du dossier js
RewriteRule ^js/(.*)$ assets/js/$1 [L]

# Redirection des images vers le bon dossier
RewriteRule ^images/(.*)$ public/images/produits/$1 [L]

# Permettre l'accès direct aux répertoires et fichiers existants
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si le fichier ou le répertoire n'existe pas, rediriger vers index.php
RewriteRule ^(.*)$ public/index.php/$1 [L,QSA]